body form[action="arssainvpay.pay_save"] #aaSubmitButton {
  background: none !important;
}


.hide-it {
  display: none;
}

/* Start Menu CSS */
.displayMenuNavLinks {
  display: block !important;
  background-color: #1D252C !important;
  position: fixed !important;
  z-index: 999;
  border: 1px solid #d6dfe6;
  width: 650px !important;
  font-size: 14px !important;
  right: 250px !important;
}

.displayMenuNavLinks a {
  color: white !important;
  font-size: 1.6rem;
}

.displayMenuNavLinks li:hover {
  background-color: #1D252C !important;
  /* opacity: 0.8 !important;
  text-decoration: underline !important; */
}

.boc-menu-col {
  float: left !important;
  min-height: 1px !important;
  position: relative !important;
  width: 50% !important;;
  
}
.boc-menu-col li {
  margin-bottom: 5px !important;
  font-size: 1.4rem !important;
  line-height: 2rem !important;
}
/* End Menu CSS */

#BOCLogout {
  padding-left: 20px !important;
  display: flex;
  align-items: center;
}

#BOCLogout i {
  line-height: 1.6;
}

/* Start AT Dashboard */

/* End AT Dashboard */