h1 { font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif; font-size: 24px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px; } 

h2 { font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 15.4px; } 

p { font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; } 

blockquote { font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif; font-size: 21px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 30px; } 

pre { font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 18.5714px; }


#CustPhoto {
  width: 125px;
  border-radius: 50%;
  object-fit: cover;
  height: 125px;
}


.at-dashboard-container #aaSTDDashboardStoredDoc .t-Region-header {
  background-color: #FFF;
  border-bottom: 1px solid #d6dfe6;
}
.at-dashboard-container #aaSTDDashboardStoredDoc h2.t-Region-title {
  color: #1D252C;
}

.at-dashboard-container #aaSTDDashboardDynamicOverview1 .t-Region-header {
  display: none;
}
.at-dashboard-container #aaSTDDashboardDynamicOverview1 .t-Region-bodyWrap {
  background-color: #1D252C;
  color: #FFF;
}

.at-dashboard-container #aaSTDDashboardDynamicOverview2 .t-Region-header {
  background-color: #FFF;
  border-bottom: 1px solid #d6dfe6;
}
.at-dashboard-container #aaSTDDashboardDynamicOverview2 h2.t-Region-title {
  color: #1D252C;
}

.at-dashboard-container #aaSTDDashboardDynamicOverview3 .t-Region-header {
  background-color: #FFF;
  border-bottom: 1px solid #d6dfe6;
}
.at-dashboard-container #aaSTDDashboardDynamicOverview3 h2.t-Region-title {
  color: #1D252C;
}

.at-dashboard-container #aaSTDDashboardDynamicOverview4 .t-Region-header {
  background-color: #3B8FC5;
  border-bottom: 1px solid #d6dfe6;
}
.at-dashboard-container #aaSTDDashboardDynamicOverview4 h2.t-Region-title {
  color: #FFF;
}

.at-dashboard-container #aaSTDDashboardDynamicOverview5 .t-Region-header {
  background-color: #1D252C;
  border-bottom: 1px solid #d6dfe6;
}
.at-dashboard-container #aaSTDDashboardDynamicOverview5 h2.t-Region-title {
  color: #FFF;
}

/* PROVIDER DASHBOARD START*/
.ap-dashboard-container #aaSTDDashboardDynamicOverview .t-Region-header {
  background-color: #3B8FC5;
  border-bottom: 1px solid #d6dfe6;
}
.ap-dashboard-container #aaSTDDashboardDynamicOverview h2.t-Region-title {
  color: #FFF;
}

.ap-dashboard-container #aaSTDDashboardDynamicOverview5 .t-Region-header {
  background-color: #FFF;
  border-bottom: 1px solid #d6dfe6;
}
.ap-dashboard-container #aaSTDDashboardDynamicOverview5 h2.t-Region-title {
  color: #1D252C;
}

.ap-dashboard-container #aaSTDDashboardDynamicOverview1 .t-Region-header {
  background-color: #1D252C;
  border-bottom: 1px solid #d6dfe6;
}
.ap-dashboard-container #aaSTDDashboardDynamicOverview1 h2.t-Region-title {
  color: #FFF;
}

.ap-dashboard-container #aaSTDDashboardDynamicOverview2 .t-Region-header {
  display: none
}
.ap-dashboard-container #aaSTDDashboardDynamicOverview2 h2.t-Region-title {
  background-color: #1D252C;
  color: #FFF;
}
/* PROVIDER DASHBOARD END */


/* GENERAL TODO/UPCOMING STYLES START */
.boc-todo-info {
  font-size: 3rem !important;
  color: #FF8772;
}
.boc-todo-date {
  font-size: 1rem;
  color: #FF8772
}
.boc-todo-action {
  font-size: 1.25rem;
  color: #1D252C
}
.boc-todo-action a {
  color: #1D252C !important
}
.boc-todo-row {
  border-bottom: 1px solid #3B8FC5;
}
.boc-upcoming-info {
  font-size: 3rem !important;
  color: #FF8772;
}
.boc-upcoming-date {
  font-size: 1rem;
  color: #CDC5A7
}
.boc-upcoming-action {
  font-size: 1.25rem;
  color: #1D252C
}
.boc-upcoming-action a {
  color: #1D252C !important
}
.boc-upcoming-row {
  border-bottom: 1px solid #1D252C;
}
/* GENERAL TODO/UPCOMING STYLES END */