h1 { font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif; font-size: 24px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px; } 

h2 { font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 15.4px; } 

p { font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; } 

blockquote { font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif; font-size: 21px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 30px; } 

pre { font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 18.5714px; }

/* Start Menu CSS */
.displayMenuNavLinks {
  display: block !important;
  background-color: #1D252C;
  position: fixed !important;
  z-index: 999;
  border: 1px solid #d6dfe6;
  width: 650px !important;
  font-size: 14px !important;
  right: 300px !important;
}

.displayMenuNavLinks a {
  display: block;
  font-size: 18px !important;
  font-weight: 900 !important;
  color: white !important;
  margin: 5px 0px !important;
  text-align: left;
}

.boc-menu-col {
  float: left;
  min-height: 1px;
  position: relative;
  padding-right: 4px;
  padding-left: 4px;
  width: 50%;
}
/* End Menu CSS */

#CustPhoto {
  width: 125px;
  border-radius: 50%;
  object-fit: cover;
  height: 125px;
}

#aaSTDDashboardStoredDoc .t-Region-header {
  background-color: #FFF;
  border-bottom: 1px solid #d6dfe6;
}
#aaSTDDashboardStoredDoc h2.t-Region-title {
  color: #1D252C;
}

#aaSTDDashboardDynamicOverview1 .t-Region-header {
display: none;
}
#aaSTDDashboardDynamicOverview1 .t-Region-bodyWrap {
background-color: #1D252C;
color: #FFF;
}

#aaSTDDashboardDynamicOverview2 .t-Region-header {
  background-color: #FFF;
  border-bottom: 1px solid #d6dfe6;
}
#aaSTDDashboardDynamicOverview2 h2.t-Region-title {
  color: #1D252C;
}

#aaSTDDashboardDynamicOverview3 .t-Region-header {
  background-color: #FFF;
  border-bottom: 1px solid #d6dfe6;
}
#aaSTDDashboardDynamicOverview3 h2.t-Region-title {
  color: #1D252C;
}

#aaSTDDashboardDynamicOverview4 .t-Region-header {
  background-color: #3B8FC5;
  border-bottom: 1px solid #d6dfe6;
}
#aaSTDDashboardDynamicOverview4 h2.t-Region-title {
  color: #FFF;
}

#aaSTDDashboardDynamicOverview5 .t-Region-header {
  background-color: #1D252C;
  border-bottom: 1px solid #d6dfe6;
}
#aaSTDDashboardDynamicOverview5 h2.t-Region-title {
  color: #FFF;
}

.boc-todo-info {
  font-size: 3rem !important;
  color: #FF8772;
}
.boc-todo-date {
  font-size: 1rem;
  color: #FF8772
}
.boc-todo-action {
  font-size: 1.25rem;
  color: #1D252C
}
.boc-todo-action a {
  color: #1D252C !important
}
.boc-todo-row {
  border-bottom: 1px solid #3B8FC5;
}


.boc-upcoming-info {
  font-size: 3rem !important;
  color: #FF8772;
}
.boc-upcoming-date {
  font-size: 1rem;
  color: #CDC5A7
}
.boc-upcoming-action {
  font-size: 1.25rem;
  color: #1D252C
}
.boc-upcoming-action a {
  color: #1D252C !important
}
.boc-upcoming-row {
  border-bottom: 1px solid #1D252C;
}

/* Widget Header Styles Stop Here */

