body { font-family: 'Noto Serif', serif; }

h1 { font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif; font-size: 24px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px; } 

h2 { font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 15.4px; } 

p { font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; } 

blockquote { font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif; font-size: 21px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 30px; } 

pre { font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 18.5714px; }


#aaSTDDashboardStoredDoc .t-Region-header {
  background-color: #FFF;
  border-bottom: 1px solid #d6dfe6;
}
#aaSTDDashboardStoredDoc h2.t-Region-title {
  color: #1D252C;
}

#aaSTDCustomRegion .t-Region-header {
  background-color: #298FC2;
  border-bottom: 1px solid #d6dfe6;
}
#aaSTDCustomRegion h2.t-Region-title {
  color: #FFF;
}

#aaSTDCustomRegionThree .t-Region-header {
  background-color: #1D252C;
  border-bottom: 1px solid #d6dfe6;
}
#aaSTDCustomRegionThree h2.t-Region-title {
  color: #FFF;
}

#aaSTDDashboardDynamicOverview1 .t-Region-header {
display: none;
}
#aaSTDDashboardDynamicOverview1 .t-Region-bodyWrap {
background-color: #1D252C;
color: #FFF;
}

#aaSTDDashboardDynamicOverview2 .t-Region-header {
  background-color: #FFF;
  border-bottom: 1px solid #d6dfe6;
}
#aaSTDDashboardDynamicOverview2 h2.t-Region-title {
  color: #1D252C;
}

#aaSTDDashboardDynamicOverview3 .t-Region-header {
  background-color: #FFF;
  border-bottom: 1px solid #d6dfe6;
}
#aaSTDDashboardDynamicOverview3 h2.t-Region-title {
  color: #1D252C;
}

/* Widget Header Styles Stop Here */

