.dropdown-menu {
  background-color: #1d252c !important;
  padding: 20px !important;
  min-width: 800px !important;
}

.boc-menu-col a {
  color: white;
}

.boc-menu-col a:hover {
  color: white;
}

#boc-dropdown-menu {
  height: 28px;
}

#boc-dropdown-menu i, span {
  font-size: 16px !important;
  vertical-align: top;
}

#BOCLogout {
  padding-left: 20px;
}

#BOCLogout i {
  line-height: 1.6;
}