<div id="aaTree">
  <ul id="aaNavul72" class="aaNestedLevel0">
    <div class="col" style="width: 50%">
      <li id="aaNavli72"><a
          href="ssaapexmnucall?p_app_id=STDSSA&amp;p_page_id=1000&amp;p_clearcache=1000&amp;p_cust_id=BOC122903&amp;p_session=15289727930071">Back
          to Default Dashboard</a></li>
      <li id="aaNavli86"><a
          href="ssaapexmnucall?p_app_id=STDSSA&amp;p_page_id=1000&amp;p_clearcache=1000&amp;p_itemnames=P1000_DASHBOARD_CD&amp;p_itemvalues=BOCATDASH&amp;p_cust_id=BOC122903&amp;p_session=15289727930071">AT
          Dashboard</a></li>
      <li id="aaNavli87"><a
          href="ssaapexmnucall?p_app_id=STDSSA&amp;p_page_id=1000&amp;p_clearcache=1000&amp;p_itemnames=P1000_DASHBOARD_CD&amp;p_itemvalues=BOCAPDASH&amp;p_cust_id=BOC122903&amp;p_session=15289727930071">Provider
          Dashboard</a></li>
      <li id="aaNavli63"><a href="#">Manage My Account</a>
        <ul id="aaNavul2" class="aaNestedLevel1">
          <li id="aaNavli2"><a
              href="censsaindprofile.display_profile?p_profile_ty=INDIVIDUAL_PROFILE&amp;p_cust_id=BOC122903">My Contact
              Info</a></li>
          <li id="aaNavli43"><a href="ssaauthmain.id_passwd_display?p_cust_id=BOC122903">Change Login Email/Password</a>
          </li>
          <li id="aaNavli50"><a
              href="ssaapexmnucall?p_app_id=BOCSSA&amp;p_page_id=2505&amp;p_clearcache=2505&amp;p_cust_id=BOC122903&amp;p_session=15289727930071">Link
              to Additional Provider Account</a></li>
          <li id="aaNavli62"><a
              href="ssaapexmnucall?p_app_id=ECMSSA&amp;p_page_id=14010&amp;p_cust_id=BOC122903&amp;p_session=15289727930071">Communication
              History</a></li>
          <li id="aaNavli24"><a href="censsacustbio.display_page?p_cust_id=BOC122903">Manage Profile Photo</a></li>
          <li id="aaNavli93"><a href="censsamngemp.display_emp?p_cust_id=BOC122903">Employment History</a></li>
          <li id="aaNavli91"><a
              href="ssaapexmnucall?p_app_id=BOCSSA&amp;p_page_id=2517&amp;p_clearcache=2517&amp;p_cust_id=BOC122903&amp;p_session=15289727930071">Link
              Myself to Program/School</a></li>
          <li id="aaNavli95"><a
              href="ssaapexmnucall?p_app_id=BETASSA&amp;p_page_id=2600&amp;p_clearcache=2600&amp;p_cust_id=BOC122903&amp;p_session=15289727930071">My
              Messages</a><i class="material-icons menu-unread-flag">feedback</i></li>
        </ul>
      </li>
      <li id="aaNavli64"><a href="#">Manage Provider Information</a>
        <ul id="aaNavul53" class="aaNestedLevel1">
          <li id="aaNavli53"><a
              href="censsacmpprofile.display_profile?p_profile_ty=PROVIDER_PROFILE&amp;p_cust_id=BOC122903">Provider
              Contact Info</a></li>
          <li id="aaNavli41"><a
              href="ssaapexmnucall?p_app_id=BOCSSA&amp;p_page_id=2505&amp;p_clearcache=2505&amp;p_itemnames=CUST_CONTEXT&amp;p_itemvalues=SELECT_PROVIDER&amp;p_cust_id=BOC122903&amp;p_session=15289727930071">Manage
              Provider Admin</a></li>
          <li id="aaNavli73"><a
              href="ssaapexmnucall?p_app_id=BOCSSA&amp;p_page_id=2515&amp;p_clearcache=2515&amp;p_cust_id=BOC122903&amp;p_session=15289727930071">Status
              History</a></li>
          <li id="aaNavli3"><a href="arssacustacct.summary?p_cust_id=BOC122903">Invoice History</a></li>
          <li id="aaNavli55"><a
              href="sbmssamysubmittals.display_page?p_collection_id=ANNUAL_REPORT&amp;p_cust_id=BOC122903">Annual Report
              History</a></li>
          <li id="aaNavli56"><a
              href="ssaapexmnucall?p_app_id=STDSSA&amp;p_page_id=998&amp;p_clearcache=APP&amp;p_itemnames=CUST_CONTEXT&amp;p_itemvalues=EBP_CREATE&amp;p_cust_id=BOC122903&amp;p_session=15289727930071">EBP
              Applications</a></li>
          <li id="aaNavli60"><a
              href="ssaapexmnucall?p_app_id=BETASSA&amp;p_page_id=53015&amp;p_clearcache=APP&amp;p_cust_id=BOC122903&amp;p_session=15289727930071">My
              Programs</a></li>
          <li id="aaNavli61"><a
              href="	ssaapexmnucall?p_app_id=BETASSA&amp;p_page_id=53000&amp;p_clearcache=APP&amp;p_cust_id=BOC122903&amp;p_session=15289727930071">Program
              Directory</a></li>
          <li id="aaNavli74"><a
              href="ssaapexmnucall?p_app_id=STDSSA&amp;p_page_id=998&amp;p_itemnames=CUST_CONTEXT&amp;p_itemvalues=PROVIDER_RESOURCES&amp;p_cust_id=BOC122903&amp;p_session=15289727930071">Provider
              Resources</a></li>
        </ul>
      </li>
    </div>
    <div class="col" style="width: 50%">
      <li id="aaNavli80"><a
          href="sbmssamysubmittals.display_page?p_collection_id=AT_MAINTAIN_APP&amp;p_cust_id=BOC122903">AT Maintenance
          App</a></li>
      <li id="aaNavli92"><a href="#?p_cust_id=BOC122903">Print BOC Card</a></li>
      <li id="aaNavli48"><a
          href="ssaapexmnucall?p_app_id=CRTSSA&amp;p_page_id=17800&amp;p_clearcache=17800&amp;p_cust_id=BOC122903&amp;p_session=15289727930071">Certification
          Directory</a></li>
      <li id="aaNavli83"><a
          href="ssaapexmnucall?p_app_id=BOCSSA&amp;p_page_id=1000&amp;p_clearcache=1000&amp;p_cust_id=BOC122903&amp;p_session=15289727930071">Student
          Management</a></li>
      <li id="aaNavli76"><a
          href="sbmssamysubmittals.display_page?p_collection_id=AT_INITIAL_APP&amp;p_cust_id=BOC122903">Exam
          Application</a></li>
      <li id="aaNavli82"><a
          href="sbmssamysubmittals.display_page?p_collection_id=AT_GRAD_DATE&amp;p_cust_id=BOC122903">Graduation Date
          Change</a></li>
      <li id="aaNavli78"><a
          href="sbmssamysubmittals.display_page?p_collection_id=AT_INITIAL_EXAM&amp;p_cust_id=BOC122903">Exam
          Registration</a></li>
      <li id="aaNavli77"><a
          href="sbmssamysubmittals.display_page?p_collection_id=AT_REINSTATE_APP&amp;p_cust_id=BOC122903">Reinstatement
          Application</a></li>
      <li id="aaNavli97"><a
          href="sbmssamysubmittals.display_page?p_collection_id=AT_REINSTATE_EXAM&amp;p_cust_id=BOC122903">Reinstatement
          Exam Registration</a></li>
      <li id="aaNavli81"><a
          href="sbmssamysubmittals.display_page?p_collection_id=AT_EXAM_ECC_APP&amp;p_cust_id=BOC122903">Emergency
          Cardiac
          Care Form</a></li>
      <li id="aaNavli94"><a href="boccertcardpdf.generate_cert?p_cust_id=BOC122903&amp;p_cust_id=BOC122903">Print
          Certificate</a></li>
      <li id="aaNavli89"><a
          href="sbmssamysubmittals.display_page?p_collection_id=AT_MAINTAIN_REINSTATE&amp;p_cust_id=BOC122903">AT
          Maintain
          App (Reinstate by CE)</a></li>
      <li id="aaNavli90"><a
          href="sbmssamysubmittals.display_page?p_collection_id=AT_RESIGNATION&amp;p_cust_id=BOC122903">AT
          Resignation</a>
      </li>
      <li id="aaNavli96"><a
          href="wkfinstantiation.instantiate?p_workflow=ECC_UPDATE&amp;p_event_id=&amp;p_cust_id=BOC122903">ECC
          Update</a>
      </li>
      <li id="aaNavli79"><a
          href="sbmssamysubmittals.display_page?p_collection_id=AT_REINSTATE_EXAM&amp;p_cust_id=BOC122903">Exam
          Registration (RBE)</a></li>
      <li id="aaNavli85"><a
          href="sbmssamysubmittals.display_page?p_collection_id=AT_NAME_CHANGE&amp;p_cust_id=BOC122903">Name Change
          Request</a></li>
    </div>

  </ul>
</div>